
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h2>Bem-vindo ao Dashboard</h2>
    <a href="/logout">Sair</a>
    <a href="/criar_tarefa">Criar Nova Tarefa</a>
    <h3>Lista de Tarefas</h3>
    <ul>
        {% for tarefa in tarefas %}
        <li>{{ tarefa.titulo }} - {{ tarefa.status }}
            <a href="/editar_tarefa/{{ tarefa.id }}">Editar</a>
            <a href="/excluir_tarefa/{{ tarefa.id }}">Excluir</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
